

*{
    padding: 20px;
    line-height: 30px;
    font-family: Roboto;
    color: #333;
    background-color: #f6f6f6;
}

h1{
    text-align: center;
    background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
    color: #f6f6f6;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

p{
    text-align: center;
    border: 1px solid purple;
}

#buttons{
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#add{
    cursor: pointer;
    width: 30%;
    background-color: green;
    color: white;
    border: none;
    margin-bottom: 15px;
}

#remove{
    cursor: pointer;
    width: 30%;
    background-color: red;
    color: white;
    border: none;
    margin-bottom: 15px;  
}

